@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(255, 255, 255);
}
.custom-shape-divider-bottom-1730870806 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730870806 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
}

.custom-shape-divider-bottom-1730870806 .shape-fill {
    fill: #3B82F6;
}
.hover-animation {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .hover-animation:hover {
    color: #FFD700; /* Gold color on hover */
    transform: scale(1.1);
  }
  .hover-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
  .hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }